@media screen and (min-width: 1080px) {
    .main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../img/background_form.webp');
        background-size: cover;
        background-repeat: repeat-X;
        background-position: center 40%;
    }

    .form {
        width: 40%;
        padding: 10px 40px;
        text-align: center;
        border: 1px solid cyan;
        border-radius: 20px;
        box-sizing: border-box;
        margin: 50px 0;
        backdrop-filter: brightness(95%);
    }
    .title {
        font-size: 1rem;
        color: rgb(255, 142, 160);
        font-family: 'Bagel Fat One', cursive !important;
        font-weight: 200;
    }

    .form .form-group {
        width: 100%;
        text-align: left;
        position: relative;
        padding-bottom: 60px;
    }

    .form-label {
        font-size: 0.9rem;
        /* prettier-ignore */
        background-image: linear-gradient(45deg, rgb(0, 221, 255), rgb(0, 255, 153) ) ;
        color: black;
        border-radius: 5px;
        padding: 0 8px;
        position: absolute;
        top: -10px;
        left: 28px;
        font-weight: 600;
    }

    .form-group .form-control {
        width: 100%;
        font-size: 1.4rem;
        color: var(--text-color);
        background: none;
        border: 3px solid rgba(0, 255, 21, 0.8);
        border-radius: 20px;
        outline: none;
        padding: 16px 20px;
        box-sizing: border-box;
        transition: border 0.2 linear;
    }

    .password-hide {
        position: absolute;
        top: 10%;
        right: 4%;
        width: 10%;
        height: 15%;
    }

    .form-group .password__icon {
        position: absolute;
        top: 56%;
        right: 4%;
    }

    .form-group .password__icon--enable {
        display: none;
    }

    .password-hide.hide .password__icon--disable {
        display: none;
    }

    .password-hide.hide .password__icon--enable {
        display: inline-block;
    }

    .form-control:hover,
    .form-control:active {
        border: 3px solid var(--success);
    }

    .form-group.invalid .form-label {
        background: rgb(255, 0, 195);
    }

    .form-group.invalid .password__icon {
        position: absolute;
        top: 10.2%;
    }
    .form-group.invalid .password-hide {
        position: absolute;
        top: 13%;
    }

    .form-group.invalid .form-control {
        border: 3px solid red;
    }
    .form-group.invalid .form-message {
        color: red;
        font-size: 1.2rem;
    }

    .form-submit {
        width: 35%;
        height: 60px;
        cursor: pointer;
        border: 20px;
        font-size: 1.5rem;
        box-sizing: border-box;
        margin: -20px 0 20px 0;
        border-radius: 20px;
        border: 1px solid black;
        color: black;
        box-shadow: 0 6px 0 rgb(39, 170, 190);
        transition: 0.1s linear;
        outline: none;
        font-weight: 400;
        font-family: 'Bagel Fat One', cursive !important;
        background: var(--button);
    }

    .form-submit:active {
        box-shadow: none;
        transform: translateY(8px);
    }
    .spacer {
        padding: 20px 0;
    }
}
